body {
  font-family: Arial, sans-serif;
  background-color: #fd0000;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #3366ff;
  font-size: 48px;
}

p {
  font-size: 20px;
  color: #ffffff;
}

button {
  background-color: #3366ff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

button:hover {
  background-color: #254eda;
}
